---
layout: post-index
title: A Learner!
description: "Describe this nonsense."
tags: [vineesh narikutty pacha,personal, blog]
comments: false
image:
  feature: background01.jpg
---
<meta property="og:url"                content="http://www.vineeshnp.com" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ site.title }}" />
<meta property="og:description"        content="{{ site.owner.bio }}" />
<meta property="og:image"              content="{{ site.url }}/images/wall.jpg" />

<article>
    <a href="{{ site.url }}/images/circle_logo.jpg">
      <img src="{{ site.url }}/images/circle_logo.jpg"  class="animated bounceIn fadeIn circleImage">
    </a>
    <h3 class="animated fadeInDown">
        <a href="{{ site.url }}">
        	<p style="font-size:1.2rem;font-weight:300">{{ site.owner.bio }}</p>
        </a>
    </h3>
    <hr class="hr-line animated fadeInDown">
    <h3 class="header-title-wrap">
           <a class="btn animated fadeInDown" href="{{ site.url }}/about">
           <i class="fa fa-fw fa-user"></i>&nbsp; About
           </a>
           <a class="btn animated fadeInDown" href="{{ site.url }}/posts">
           <i class="fa fa-fw fa-pencil"></i>&nbsp; Posts
           </a>
           <a class="btn animated fadeInDown" href="{{ site.url }}/projects">
           <i class="fa fa-fw fa-laptop"></i>&nbsp; Projects
           </a>
          <a href="https://twitter.com/{{ site.owner.twitter }}" target='_blank'  class='btn animated fadeInDown'>
            <i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter
          </a>
          <a href="https://linkedin.com/in/{{ site.owner.linkedin }}" target='_blank' class='btn animated fadeInDown'>
            <i class="fa fa-fw fa-linkedin"></i>&nbsp; LinkedIn
          </a>
      </h3>
</article>
{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}
