
@mixin circle($width, $color) {
  display: block;
	max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
  border-radius: 50%;
	border: 3px solid #fff;
	height: $width;
	width: $width;
}
.circleImage {
  @include circle(200px, #999);
}
